* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
  font-weight: 400;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
  position: relative;
}

/* código do cabeçalho */

header .container {
  width: 100%;
  padding: 2.4rem 1rem;
  max-width: 1632px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .info-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: #353535;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

header .container .form {
  height: 4rem;
  max-width: 790px;
  margin: 0 14.7rem 0 9.3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  background: #efefef;
  border-radius: 1rem;
}

header .container .form input {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 2.4rem;
  margin-right: 8.3rem;
}

header .container .form button {
  width: 119px;
  height: 4rem;
  font-family: 'Titillium Web', sans-serif;
  background-color: #faa500;
  border: 1px solid #faa500;
  border-radius: 8px;
  color: #fff;
}

header .container nav ul {
  display: flex;
  gap: 3.9rem;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #353535;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.options-menu ul li {
  padding: 14px 12px;
}

.options-menu ul li:last-child {
  border: 1px solid #faa500;
  border-radius: 8px;
}

.menu-mobile {
  display: none;
}

.horizontal-row {
  height: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

header .container:last-child {
  padding: 1.3rem 0;
  justify-content: center;
}

header .container:nth-last-child(1) nav ul {
  gap: 10.5rem;
}

header .container:nth-last-child(1) nav ul li:first-of-type a {
  color: #faa500;
  font-weight: bold;
}

/* banner web */

.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner .arrows {
  position: absolute;
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 4rem;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  left: 0;
  right: 0;
  outline: none;
}

.banner-web .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.banner-web .slick-dots li {
  list-style: none;
  width: 16px;
  height: 16px;
  margin: 0 8px 1.6rem 8px;
  border-radius: 50%;
  border: 2px solid #faa500;
  display: inline-block;
}

.banner-web .slick-dots li.slick-active {
  background-color: #faa500;
}

.banner-web .slick-dots li button {
  display: none;
}

/* banner mobile */

.banner.disable {
  display: none;
}

.banner .arrows-mobile {
  position: absolute;
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 2rem;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  left: 0;
  right: 0;
  outline: none;
}

.banner-web-mobile .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.banner-web-mobile .slick-dots li {
  list-style: none;
  width: 16px;
  height: 16px;
  margin: 0 8px 1.6rem 8px;
  border-radius: 50%;
  border: 2px solid #faa500;
  display: inline-block;
}

.banner-web-mobile .slick-dots li.slick-active {
  background-color: #faa500;
}

.banner-web-mobile .slick-dots li button {
  display: none;
}

/* Beneficios */
.benefits .container {
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  background-color: #fff;
}

.benefits .title h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  color: #353535;
  line-height: 2.4rem;
  padding: 2.4rem 0 2.1rem 0;
}

.benefits .container .bulets .slide {
  padding: 0 1.5rem;
}

.bulets .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.bulets .slick-dots li {
  list-style: none;
  width: 12px;
  height: 12px;
  margin: 0 8px -32px 8px;
  border-radius: 50%;
  border: 2px solid #faa500;
  display: inline-block;
}

.bulets .slick-dots li.slick-active {
  background-color: #faa500;
}

.bulets .slick-dots li button {
  display: none;
}

/* Marcas parceiras */

.partner-brands .container {
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  background-color: #fff;
}

.partner-brands {
  margin-top: 74px;
  margin-bottom: 80px;
}

.partner-brands .title-brands {
  font-size: 2.2rem;
  line-height: 4.9rem;
  font-weight: bold;
  text-align: center;
  color: #353535;
  padding-bottom: 17px;
}

.partner-brands .slide-partner-brands .slide-brands {
  padding: 0 1.5rem;
}

/* As mais pedidas */
.most-requesteds {
  margin-bottom: 80px;
}
.most-requesteds .container {
  position: relative;
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  background-color: #fff;
}

.most-requesteds .title-most-requesteds {
  font-size: 2.2rem;
  line-height: 4.9rem;
  font-weight: bold;
  text-align: center;
  color: #353535;
  padding-bottom: 17px;
}

.slide-most-requesteds .requesteds-item {
  width: 308px;
  height: auto;
  padding: 0 8px;
}

.requesteds-item img {
  width: 100%;
}

.requesteds-item .requesteds-item-info {
  padding: 8px 27px 0 27px;
}

.requesteds-item .requesteds-item-info .details span {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  padding-top: 8px;
}

.requesteds-item .requesteds-item-info .details h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #000;
}

.requesteds-item .requesteds-item-info .details p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
  opacity: 0.5;
  padding: 8px 0;
}

.requesteds-item .requesteds-item-info .details button {
  width: 100%;
  height: 35px;
  font-family: 'Titillium Web', sans-serif;
  background-color: #faa500;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.most-requesteds .arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

#arrow-prev-most {
  left: 0;
}

#arrow-next-most {
  right: 0;
}

/* Nova coleção */

.new-collection .container {
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-collection .new-collection-info {
  max-width: 465px;
  width: 100%;
  margin-right: 64px;
}

.new-collection .new-collection-info h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
  padding-bottom: 16px;
  color: #000;
}

.new-collection .new-collection-info p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #000;
}

.banner-new-collection img {
  width: 100%;
}

/* Newsletter */

.newsletter {
  background-color: #fafafa;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  height: 120px;
  margin-top: 80px;
  margin-bottom: 43px;
}

.newsletter .container {
  max-width: 968px;
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.newsletter h3 {
  font-size: 2.4rem;
  line-height: 3.7rem;
  font-weight: bold;
  color: #000;
}

.newsletter .form {
  max-width: 630px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.newsletter .form input {
  max-width: 468px;
  width: 100%;
  padding: 0 7px 0 24px;
  background-color: #fff;
  border: 1px solid #353535;
  border-radius: 4px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #353535;
}

.newsletter .form button {
  width: 131px;
  background: #faa500;
  border: 2px solid #faa500;
  border-radius: 4px;
  margin-left: -4px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: bold;
}

/* Footer */

.footer-menu .container {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-menu .contentBx h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #353535;
  font-weight: bold;
  padding-bottom: 24px;
}

.footer-menu ul {
  list-style: none;
  padding-bottom: 24px;
}

.footer-menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
}

.footer-bottom {
  margin-top: 60px;
  background-color: #353535;
}

.footer-bottom .container {
  width: 100%;
  max-width: 1632px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .options-bottom ul {
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer-bottom .options-bottom ul li {
  list-style: none;
}

/* Modal */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 10;
}

.modal.remove {
  display: none;
}

.modal .container {
  width: 851px;
  height: auto;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .btn-modal {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding-bottom: 6px;
  cursor: pointer;
}

.modal .container-modal {
  display: flex;
  background-color: #fff;
  height: auto;
}

.modal .container-modal .modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal .container-modal .modal-form .img-email {
  padding-bottom: 12px;
}

.container-modal .modal-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal .container-modal .modal-form span {
  padding-bottom: 12px;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #464b54;
}

.modal .container-modal .modal-form p:first-of-type {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #787d83;
}

.modal .container-modal .modal-form p:last-of-type {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: #787d83;
  padding-bottom: 25px;
}

.modal .container-modal .modal-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 0 5px 0 13px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #787d83;
  margin-bottom: 10px;
}

.modal .container-modal .modal-form button {
  width: 100%;
  height: 40px;
  background-color: #faa500;
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
}

.modal .container-modal .modal-form button img {
  padding-left: 8px;
}

@media (max-width: 1632px) {
  header .container {
    max-width: 1224px;
    padding: 2.4rem 4rem;
  }

  header .container .form {
    max-width: 790px;
    margin: 0 67px 0 53px;
  }

  .benefits .container {
    max-width: 1224px;
  }

  .partner-brands .container {
    max-width: 1224px;
  }

  .most-requesteds .container {
    max-width: 1224px;
  }

  .new-collection .container {
    max-width: 1224px;
  }

  .footer-bottom .container {
    max-width: 1224px;
  }
}

@media (max-width: 1180px) {
  header .container {
    max-width: 930px;
    padding: 2.4rem 2.1rem;
  }

  header .container:nth-last-child(1) {
    display: none;
  }

  header .container nav ul li:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }

  .horizontal-row {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #000;
    height: 2px;
    width: 100%;
    margin: 6px auto;
  }

  .menu-toggle {
    width: 24px;
    height: auto;
    margin-right: 20px;
  }

  header .container .form {
    margin: 0 5.7rem 0 4.3rem;
  }

  /* banner */
  .banner .arrows {
    padding: 0 2rem;
  }

  .benefits .container {
    max-width: 930px;
  }

  .partner-brands .container {
    max-width: 930px;
  }

  .most-requesteds .container {
    max-width: 930px;
  }

  .new-collection .container {
    max-width: 930px;
  }

  /* Newsletters */

  .newsletter .container {
    width: 100%;
    height: 120px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 31px;
  }

  .newsletter .form {
    width: 100%;
    height: 26px;
    justify-content: space-between;
  }

  .newsletter h3 {
    color: #353535;
  }

  .newsletter .form input {
    max-width: 100%;
    padding: 0 3px 0 24px;
  }

  .newsletter .form button {
    width: 80px;
    margin-left: 15px;
    padding: 0 20px;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: bold;
  }

  /* Footer */
  .footer-bottom {
    margin-top: 56px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer-bottom .container {
    width: 100%;
    max-width: 930px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .footer-bottom .options-bottom ul {
    gap: 42px;
  }

  /* Modal */
  .modal .modal-img {
    display: none;
  }

  .modal .container {
    width: 298px;
    height: 307px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal .container-modal {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 790px) {
  header .container {
    justify-content: flex-start;
  }

  header .container .logo {
    width: 110px;
    height: 12px;
  }

  header .container .menu-mobile {
    margin-left: auto;
  }

  header .container .form,
  nav {
    display: none;
  }

  header .container .menu-mobile {
    display: inline;
  }

  header .container .menu-mobile ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  header .container .menu-mobile ul li {
    list-style: none;
  }

  /* banner */

  .banner {
    display: none;
  }

  .banner.disable {
    display: block;
  }

  /* Nova coleção */

  .new-collection .container {
    flex-direction: column;
    padding: 0 30px;
  }

  .new-collection .new-collection-info {
    max-width: 100%;
    margin-right: 0;
  }

  .new-collection .new-collection-info h3 {
    line-height: 3.7rem;
  }

  .new-collection .new-collection-info p {
    padding-bottom: 24px;
  }

  .footer-menu .container {
    padding: 0 30px;
  }
}

@media (max-width: 550px) {
  .footer-menu .container {
    display: block;
  }

  .footer-menu .container h3 {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .footer-menu .container .contentBx h3::before {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: bold;
  }

  .footer-menu .container .contentBx.active h3::before {
    content: '-';
  }

  .footer-menu .container .contentBx .accordion {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
  }

  .footer-menu .container .contentBx.active .accordion {
    height: auto;
  }

  .footer-bottom .options-bottom ul {
    gap: 24px;
  }
}

@media (max-width: 400px) {
  .benefits .container .img-benefits {
    padding-left: 21px;
  }

  .benefits .container .img-benefits .slide {
    /* width: 318px !important; */
    padding: 0 0 0 10px;
  }

  .img-benefits .slick-list {
    padding: 0 9.5% 0 0;
  }

  .partner-brands .title-brands {
    font-size: 2.2rem;
    line-height: 3.7rem;
    font-weight: bold;
    text-align: center;
    color: #353535;
    padding-bottom: 17px;
  }

  .partner-brands {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .partner-brands .container .slide-partner-brands {
    padding-left: 21px;
  }

  .partner-brands .container .slide-partner-brands .slide-brands {
    /* width: 318px !important; */
    max-width: 100%;
    padding: 0 0 0 10px;
    border-radius: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  }

  .slide-partner-brands .slick-list {
    padding: 0 9.5% 0 0;
  }

  #arrow-prev-most {
    display: none;
  }

  #arrow-next-most {
    display: none;
  }
  .most-requesteds {
    margin-bottom: 23px;
  }

  .most-requesteds .container .slide-most-requesteds {
    padding-left: 21px;
  }

  .slide-most-requesteds .slick-list {
    padding: 0 9.5% 0 0;
  }
}
