* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
  font-weight: 400;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.4rem;
}

/* código do cabeçalho */

header .container {
  width: 100%;
  padding: 2.4rem 1rem;
  max-width: 1632px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .info-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: #353535;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

header .container .form {
  height: 4rem;
  max-width: 790px;
  margin: 0 14.7rem 0 9.3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  background: #efefef;
  border-radius: 1rem;
}

header .container .form input {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 2.4rem;
  margin-right: 8.3rem;
}

header .container .form button {
  width: 119px;
  height: 4rem;
  font-family: 'Titillium Web', sans-serif;
  background-color: #faa500;
  border: 1px solid #faa500;
  border-radius: 8px;
  color: #fff;
}

header .container nav ul {
  display: flex;
  gap: 3.9rem;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #353535;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu-mobile {
  display: none;
}

.horizontal-row {
  height: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

header .container:last-child {
  padding: 1.3rem 0;
  justify-content: center;
}

header .container:nth-last-child(1) nav ul {
  gap: 10.5rem;
}

header .container:nth-last-child(1) nav ul li:first-of-type a {
  color: #faa500;
  font-weight: bold;
}

/* banner web */

.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner .arrows {
  position: absolute;
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 4rem;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  left: 0;
  right: 0;
  outline: none;
}

.banner-web .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.banner-web .slick-dots li {
  list-style: none;
  width: 16px;
  height: 16px;
  margin: 0 8px 1.6rem 8px;
  border-radius: 50%;
  border: 2px solid #faa500;
  display: inline-block;
}

.banner-web .slick-dots li.slick-active {
  background-color: #faa500;
}

.banner-web .slick-dots li button {
  display: none;
}

/* banner mobile */

.banner.disable {
  display: none;
}

.banner .arrows-mobile {
  position: absolute;
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 4rem;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  left: 0;
  right: 0;
  outline: none;
}

.banner-web-mobile .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.banner-web-mobile .slick-dots li {
  list-style: none;
  width: 16px;
  height: 16px;
  margin: 0 8px 1.6rem 8px;
  border-radius: 50%;
  border: 2px solid #faa500;
  display: inline-block;
}

.banner-web-mobile .slick-dots li.slick-active {
  background-color: #faa500;
}

.banner-web-mobile .slick-dots li button {
  display: none;
}

@media (max-width: 1632px) {
  header .container {
    max-width: 1224px;
    padding: 2.4rem 4rem;
  }
}

@media (max-width: 1180px) {
  header .container {
    max-width: 930px;
    padding: 2.4rem 2.1rem;
  }

  header .container:nth-last-child(1) {
    display: none;
  }

  header .container nav ul li:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }

  .horizontal-row {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #000;
    height: 2px;
    width: 100%;
    margin: 6px auto;
  }

  .menu-toggle {
    width: 24px;
    height: auto;
    margin-right: 20px;
  }

  header .container .form {
    margin: 0 5.7rem 0 4.3rem;
  }

  /* banner */
  .banner .arrows {
    padding: 0 2rem;
  }
}

@media (max-width: 790px) {
  header .container {
    justify-content: flex-start;
  }

  header .container .logo {
    width: 110px;
    height: 12px;
  }

  header .container .menu-mobile {
    margin-left: auto;
  }

  header .container .form,
  nav {
    display: none;
  }

  header .container .menu-mobile {
    display: inline;
  }

  header .container .menu-mobile ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  header .container .menu-mobile ul li {
    list-style: none;
  }

  /* banner */

  .banner {
    display: none;
  }

  .banner.disable {
    display: block;
  }
}
